@font-face{                            
	font-family: acriform_font;
	src: url('Nexa Light.otf')
}
@font-face{
	font-family: droid;
	src: url('DroidSerif-Regular.ttf');
}
@font-face{
	font-family: hel;
	src: url('HelveticaNeue.ttf');
}
@font-face{
	font-family: open;
	src: url('OpenSans-Light.ttf')
}
#test{
	color: White;
}
div.navbar{
	height: 55px;
	width:100%;
	background-color: #F28500;
	position: fixed;
	left:0;
	right:0;
	top:0;
	z-index: 1;

}
#title{
	font-family: acriform_font;
	font-size: 45px;
	color: White;
	position: fixed;
	left:0;
	margin-top:0;
	opacity: .5;
	transition: .5s ease-in-out;
	display: inline;
	z-index: 1;

}
a{
	text-decoration: none;
	outline: 0;
	color: inherit;
}
a:hover #title{
	opacity: 1;
}
#blog{
	font-family: acriform_font;
	font-size: 30px;
	color: White;
	position: fixed;
	display: inline;
	margin-left: 400px;
	margin-top: 10px;
	opacity: .5;
	transition: .5s ease-in-out
	z-index: 1;

}
#work{
	font-family: acriform_font;
	font-size: 30px;
	color: White;
	position: fixed;
	display: inline;
	margin-left: 900px;
	margin-top: 10px;
	opacity: .5;
	transition: .5s ease-in-out
	z-index: 1;
}
#people{
	font-family: acriform_font;
	font-size: 30px;
	color: White;
	display: inline;
	position: fixed;
	margin-left: 650px;
	margin-top: 10px;
	z-index: 1;
}
#talk{
	font-family: acriform_font;
	font-size: 30px;
	color: White;
	position: fixed;
	display: inline;
	margin-left: 1150px;
	margin-top: 10px;
	opacity: .5;
	transition: .5s ease-in-out
	z-index: 1;
}
a:hover #blog{
	opacity: 1;
}
a:hover #work{
	opacity: 1;
}
a:hover #talk{
	opacity: 1;
}
.info{
	height: 1650px;
	width:750px;
	position: absolute;
	display: block;
	opacity: 1;
	margin-top: 74px;
	margin-left: 345px;
	border-radius: 6px;
	z-index: -1;
}
.bgcol{
	height: 950px;
	width:750px;
	background-color: #FFFFFF;
	position: absolute;
	display: block;
	opacity: .5;
	margin-top: 74px;
	margin-left: 345px;
	border-radius: 8px;
	z-index: -2;
}
img{
	height: 200px;
	width:200px;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
}
#des{
	font-family: open;

}
.statement{
	height:212.4px;
	width: 750px;
	display: block;
	z-index: -1;
	position: absolute;
	margin-top: 1104px;
	margin-left: 345px;
	border-radius: 8px;
}
#mst{
	font-family: hel;
	font-size: 1.6em;
	text-align: center;
	margin-top: 5.5%;
}
.mscol{
	height:212.4px;
	width: 750px;
	display: block;
	background-color: #FFFFFF;
	z-index: -2;
	position: absolute;
	margin-top: 1104px;
	margin-left: 345px;
	border-radius: 8px;
	opacity: .5;
}
.ccol{
	height:212.4px;
	width: 750px;
	display: block;
	background-color: #FFFFFF;
	z-index: -2;
	position: absolute;
	margin-top: 1396.4px;
	margin-left: 345px;
	border-radius: 8px;
	opacity: .5;
}
.contact{
	height:212.4px;
	width: 750px;
	display: block;
	z-index: -1;
	position: absolute;
	margin-top: 1396.4px;
	margin-left: 345px;
	border-radius: 8px;
}
p#mail {
	font-family: hel;
	font-size: 1.7em;
	text-align: center;
}
p#CI {
	font-family: hel;
	font-size: 1em;
	text-align: center;
}
p#phonenumber {
	font-family: hel;
	font-size:1.7em;
	margin-top: 5%;
	text-align:center;
}
#xtrainfo{
	color: #0B0080 ;
}



