@font-face{
	font-family: acriform_font;
	src: url('Nexa Light.otf')
}
.title{
	z-index: -1;
}
#heading {
	color: Black;
	font-family: acriform_font;
	font-size: 60px;
	opacity: .5;
	transition:.5s ease-in-out;
	margin-left: 35%;
	z-index:100;
    position:absolute;    

}
#subheading{
	color:Black;
	font-family: acriform_font;
	margin-top: 0px;
	margin-left:50%;
	z-index: -1;
	position: absolute;
	z-index:100;
    position:absolute;    

}
a { 
	outline: 0;
	text-decoration: none;
 }
 a:hover #heading{
 	opacity: 1;
 }

div.icons{
	display: inline-block;
	margin-top: 400px;

}
#Blog{
	height: 100px;
	width: 100px;
	opacity: .25;
	margin-left: 280px;
	margin-top: 100px;
	transition:.5s ease-in-out;
}
a:hover #Blog{
	opacity: 1;
}

#people{
	height: 100px;
	width: 100px;
	opacity: .25;
	margin-left: 150px;
	margin-top: 0px;
	transition:.5s ease-in-out;

}
a:hover #people{
	opacity: 1;
	transition: .5s;
}
#project{
	height: 100px;
	width: 100px;
	opacity: .25;
	margin-top: 0%;
	margin-left: 120px;
	transition:.5s ease-in-out;

}
a:hover #project{
	opacity: 1;
	transition: .5s;
}
#talk{
	height: 100px;
	width: 100px;
	opacity: .25;
	margin-top: 0px;
	margin-left: 120px;
	transition:.5s ease-in-out;

}
a:hover #talk{
	opacity: 1;
	transition: .5s;
}
.ppt{
	height:35%;
	margin-left: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	z-index: -2;
	position: relative;
}
.ppt img{
	height: 400px;
	width: 1600px;
	z-index: -2;
	position: absolute;
	
}