@font-face{
	font-family: acriform_font;
	src: url('Nexa Light.otf')
}
@font-face{
	font-family: josefin;
	src: url('JosefinSans-Regular.ttf')
}
@font-face{
	font-family: open;
	src: url('OpenSans-Light.ttf')
}
#test{
	color: White;
}
div.navbar{
	height: 55px;
	width:100%;
	background-color: #FF3333;
	position: fixed;
	left:0;
	right:0;
	top:0;

}
#title
{	font-family: acriform_font;
	font-size: 45px;
	color: White;
	position: fixed;
	left:0;
	margin-top:0;
	opacity: .5;
	transition: .5s ease-in-out;
	display: inline;
}
a{
	text-decoration: none;
	outline: 0;
}
a:hover #title{
	opacity: 1;
}
#blog{
	font-family: acriform_font;
	font-size: 30px;
	color: White;
	position: fixed;
	display: inline;
	margin-left: 400px;
	margin-top: 10px;
	opacity: .5;
	transition: .5s ease-in-out
}
#work{
	font-family: acriform_font;
	font-size: 30px;
	color: White;
	position: fixed;
	display: inline;
	margin-left: 900px;
	margin-top: 10px;
}
#people{
	font-family: acriform_font;
	font-size: 30px;
	color: White;
	display: inline;
	position: fixed;
	margin-left: 650px;
	margin-top: 10px;
	opacity: .5;
	transition: .5s ease-in-out
}
#talk{
	font-family: acriform_font;
	font-size: 30px;
	color: White;
	position: fixed;
	display: inline;
	margin-left: 1150px;
	margin-top: 10px;
	opacity: .5;
	transition: .5s ease-in-out
	z-index: 1;
}
a:hover #talk{
	opacity: 1;
}
a:hover #blog{
	opacity: 1;
}
a:hover #people{
	opacity: 1;
}
div.TSX {
	height: 1440px;
	width:750px;
	background-color: #FFFFFF;
	position: absolute;
	display: block;
	opacity: .5;
	margin-top: 74px;
	margin-left: 345px;
	border-radius: 8px;
	z-index: -2;
}
div.TSXINF {
	height: 100px;
	width:750px;
	position: absolute;
	display: block;
	margin-top: 74px;
	margin-left: 345px;
	border-radius: 8px;
	z-index: -1;
}
div.TFV {
	height: 400px;
	width:750px;
	background-color: #FFFFFF;
	position: absolute;
	display:block;
	opacity: .5;
	margin-top: 1562px;
	margin-left: 345px;
	border-radius: 8px;
	z-index: -2;
}
div.TFVINF {
	height: 100px;
	width:750px;
	position: absolute;
	display: block;
	margin-top: 1562px;
	margin-left: 345px;
	border-radius: 8px;
	z-index: -1;
}
div.TFR {
	height: 200px;
	width:750px;
	background-color: #FFFFFF;
	position: absolute;
	display: block;
	opacity: .5;
	margin-top: 2006px;
	margin-left: 345px;
	border-radius: 8px;
	z-index: -2;
}
div.TFRINF {
	height: 100px;
	width:750px;
	position: absolute;
	display: block;
	margin-top: 2006px;
	margin-left: 345px;
	border-radius: 8px;
	z-index: -1;
}
.year{
	text-align: center;
	font-family: open;
	font-size: 2em;
}
.intros{
	text-align: center;
	font-family: open;
	margin-bottom: 5%;
}
#wrk{
	margin-left: 5%;
}
tr#wkr>td {
	padding-bottom: 4%;
}
#tmbnl{
	height:150px;
	width: 150px;
}
#tgs{
	margin-left: 100px;
	font-family: open;
	font-size: 1em;
}
a{
	color: inherit;
}
.cs{
	text-align: center;
	font-family: open;
}