@font-face{
	font-family: acriform_font;
	src: url('Nexa Light.otf')
}
#heading {
	color: White;
	font-family: acriform_font;
	font-size: 60px;
	opacity: .5;
	transition:.5s ease-in-out;
	margin-left: 35%;

}
#subheading{
	color: White;
	font-family: acriform_font;
	margin-top: -25px;
	margin-left:50%;

}
a { 
	outline: 0;
	text-decoration: none;
 }
 a:hover #heading{
 	opacity: 1;
 }

div.icons{
	display: inline-block;
}
#Blog{
	height: 100px;
	width: 100px;
	opacity: .25;
	margin-left: 280px;
	margin-top: 100px;
	transition:.5s ease-in-out;
}
a:hover #Blog{
	opacity: 1;
}

#people{
	height: 100px;
	width: 100px;
	opacity: .25;
	margin-left:330px; /*margin-left: 150px;*/
	margin-top: 100px; /*margin-top: 0px;*/
	transition:.5s ease-in-out;

}
a:hover #people{
	opacity: 1;
	transition: .5s;
}
#project{
	height: 100px;
	width: 100px;
	opacity: .25;
	margin-top: 0px; /*margin-top: 0%;*/
	margin-left: 200px;/*margin-left: 120px;*/
	transition:.5s ease-in-out;

}
a:hover #project{
	opacity: 1;
	transition: .5s;
}
#talk{
	height: 100px;
	width: 100px;
	opacity: .25;
	margin-top: 0px; /*margin-top: 0px;*/
	margin-left: 200px; /*margin-left: 120px;*/
	transition:.5s ease-in-out;

}
a:hover #talk{
	opacity: 1;
	transition: .5s;
}
img.mySlides{
	height: 250px;
	width: 500px;
}
.ppt{
	display: inline-block;
	margin-left: 32.5%;
	margin-top: 5%;
	margin-bottom: 0%;
}