.error{
font-size:50px;
text-align: center;
top: 25%;
font-family: 'Averia Serif Libre', 'Sans Serif';
display: block;
}
.errorimg{
	height: 100px;
	width: 100px;
	display: block;
	margin-left: 47.5%;
	margin-top: 20%;
}
